* {
  scroll-behavior: smooth;
}
.owl-nav {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.owl-nav .owl-prev .owl-prev-text,
.owl-nav .owl-next .owl-next-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  padding: 1rem;
  background-color: #27ccc4;
}
